Os dados abaixo referem-se a quantidade produzida de lavouras permanentes no Brasil, entre 2017 e 2019. Construa o DataFrame abaixo e seguidamente faça:
Fonte: https://sidra.ibge.gov.br/tabela/1613.

In [1]:
import pandas as pd

In [8]:
dados = {
    'Abacate':{
        2017: 212873,
        2018: 236177,
        2019: 242932
    },
    'Açaí':{
        2017:1335040,
        2018:1301472,
        2019:1398328
    },
    'Banana':{
        2017:6584967,
        2018:6723590,
        2019:6812708
    },
    'Cacau':{
        2017:235809,
        2018:239318,
        2019:259425
    },
    'Laranja':{
        2017:17492882,
        2018:16841549,
        2019:17073593
    },
    'Maçã':{
        2017:1307642,
        2018:1203007,
        2019:1222970
    },
    'Mamão':{
        2017:1058487,
        2018:1065421,
        2019:1161808
    },
    'Manga':{
        2017:1089882,
        2018:1320458,
        2019:1414338
    },
 
}


df = pd.DataFrame(dados)
df

      Abacate     Açaí   Banana   Cacau   Laranja     Maçã    Mamão    Manga
2017   212873  1335040  6584967  235809  17492882  1307642  1058487  1089882
2018   236177  1301472  6723590  239318  16841549  1203007  1065421  1320458
2019   242932  1398328  6812708  259425  17073593  1222970  1161808  1414338

a) obtenha a quantidade total produzida pelas lavouras em cada ano;

b) obtenha a quantidade total produzida por cada lavoura ao longo do tempo;

c) mostre um resumo das estatísticas descritivas;

In [3]:
print('Quantidade total produzida pelas lavouras em cada ano'.center(100, ' '))
print(df.sum(axis = 1))
print('Quantidade total produzida por cada lavoura entre 2017-2019'.center(100, ' '))
print(df.sum(axis = 0))
print('Estatísticas descritivas por lavoura'.center(100, ' '))
print(df.describe())

                       Quantidade total produzida pelas lavouras em cada ano
2017    29317582
2018    28930992
2019    29586102
dtype: int64
                    Quantidade total produzida por cada lavoura entre 2017-2019
Abacate      691982
Açaí        4034840
Banana     20121265
Cacau        734552
Laranja    51408024
Maçã        3733619
Mamão       3285716
Manga       3824678
dtype: int64
                                Estatísticas descritivas por lavoura
             Abacate          Açaí        Banana          Cacau       Laranja  \
count       3.000000  3.000000e+00  3.000000e+00       3.000000  3.000000e+00
mean   230660.666667  1.344947e+06  6.707088e+06  244850.666667  1.713601e+07
std     15770.488906  4.918209e+04  1.147638e+05   12743.102618  3.301218e+05
min    212873.000000  1.301472e+06  6.584967e+06  235809.000000  1.684155e+07
25%    224525.000000  1.318256e+06  6.654278e+06  237563.500000  1.695757e+07
50%    236177.000000  1.335040e+06  6.723590e+06  239318.000000  1.707359e+07
75%    239554.500000  1.366684e+06  6.768149e+06  249371.500000  1.728324e+07
max    242932.000000  1.398328e+06  6.812708e+06  259425.000000  1.749288e+07

               Maçã         Mamão         Manga
count  3.000000e+00  3.000000e+00  3.000000e+00
mean   1.244540e+06  1.095239e+06  1.274893e+06
std    5.555231e+04  5.775489e+04  1.669583e+05
min    1.203007e+06  1.058487e+06  1.089882e+06
25%    1.212988e+06  1.061954e+06  1.205170e+06
50%    1.222970e+06  1.065421e+06  1.320458e+06
75%    1.265306e+06  1.113614e+06  1.367398e+06
max    1.307642e+06  1.161808e+06  1.414338e+06

d) converta o banco de dados para csv.

In [4]:
df.to_csv('DadosdeProducao.csv')

Com base no dataset anterior obtenha:


a) média da quantidade total produzida das respectivas lavouras em 2017, 2018 e 2019;

In [10]:
df.mean(axis= 1).round(2)

2017    3664697.75
2018    3616374.00
2019    3698262.75
dtype: float64

b) média da quantidade produzida de cada lavoura entre o período selecionado;

In [12]:
df.mean().round(2)

Abacate      230660.67
Açaí        1344946.67
Banana      6707088.33
Cacau        244850.67
Laranja    17136008.00
Maçã        1244539.67
Mamão       1095238.67
Manga       1274892.67
dtype: float64

c) desvio padrão da quantidade total produzida das respectivas lavouras em 2017, 2018 e 2019;

In [13]:
df.std(axis = 1).round(2)

2017    5950078.65
2018    5736499.52
2019    5799394.47
dtype: float64

d) desvio padrão da quantidade produzida de cada lavoura entre o período selecionado;

In [15]:
df.std().round(2)

Abacate     15770.49
Açaí        49182.09
Banana     114763.76
Cacau       12743.10
Laranja    330121.79
Maçã        55552.31
Mamão       57754.89
Manga      166958.30
dtype: float64

e) variância da quantidade total produzida das respectivas lavouras em 2017, 2018 e 2019;

In [19]:
df.var(axis = 1).round(2)

2017    3.540344e+13
2018    3.290743e+13
2019    3.363298e+13
dtype: float64

f) variância da quantidade produzida de cada lavoura entre o período selecionado.

In [18]:
df.var().round(2)

Abacate    2.487083e+08
Açaí       2.418878e+09
Banana     1.317072e+10
Cacau      1.623867e+08
Laranja    1.089804e+11
Maçã       3.086059e+09
Mamão      3.335627e+09
Manga      2.787507e+10
dtype: float64