Com o dataset anterior calcule:

correlação entre as variáveis A e B;

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import gmean,hmean

In [2]:
df = pd.DataFrame({'A': np.random.randint(1, 50, 10), 
                   'B': np.random.randint(1, 100, 10),
                   'C': np.random.randint(1, 250, 10),
                   'D': np.random.randint(1, 120, 10)
                  })
df

    A   B    C    D
0  13  11   14   74
1  27  87  199   88
2  24  92  220   26
3   7   1  163   42
4  26  88  154   90
5  25  76  213   78
6  10  74    6    4
7  18  69  136   47
8  48  37  144   95
9  17  10   64  107

In [3]:
df['A'].corr(df['D'])

0.5156266785044974

correlação entre as variáveis C e A;

In [4]:
df['C'].corr(df['A'])

0.4384626987796773

matriz de correlação;

In [6]:
df.corr()

          A         B         C         D
A  1.000000  0.293057  0.438463  0.515627
B  0.293057  1.000000  0.468243 -0.238977
C  0.438463  0.468243  1.000000  0.129461
D  0.515627 -0.238977  0.129461  1.000000

matriz de covariância.

In [5]:
df.cov()

            A            B            C            D
A  135.388889   122.833333   398.166667   201.611111
B  122.833333  1297.611111  1316.388889  -289.277778
C  398.166667  1316.388889  6090.900000   339.522222
D  201.611111  -289.277778   339.522222  1129.211111