1. Importe o banco de dados anexo nesta aula, que diz respeito a dados de produção e produtividade para commodities selecionadas entre 2016-2018;

In [42]:
import pandas as pd

In [43]:
df = pd.read_csv('FAOSTAT_data_12-5-2020.csv')

Mostre as 3 primeiras linhas e posteriormente as 2 últimas linhas;

In [44]:
df.head(3)

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QC,Crops,9,Argentina,5419,Yield,515,Apples,2016,2016,hg/ha,223912,Fc,Calculated data
1,QC,Crops,9,Argentina,5419,Yield,515,Apples,2017,2017,hg/ha,235386,Fc,Calculated data
2,QC,Crops,9,Argentina,5419,Yield,515,Apples,2018,2018,hg/ha,213072,Fc,Calculated data

In [45]:
df.tail(2)

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
64,QC,Crops,231,United States of America,5510,Production,388,Tomatoes,2017,2017,tonnes,11141862,NaN,Official data
65,QC,Crops,231,United States of America,5510,Production,388,Tomatoes,2018,2018,tonnes,12612139,NaN,Official data

3. Imprima as colunas e o índice do DataFrame;

In [46]:
print(df.columns, df.index)

Index(['Domain Code', 'Domain', 'Area Code', 'Area', 'Element Code', 'Element',
       'Item Code', 'Item', 'Year Code', 'Year', 'Unit', 'Value', 'Flag',
       'Flag Description'],
      dtype='object') RangeIndex(start=0, stop=66, step=1)

4. Imprima o shape do DataFrame;

In [47]:
df.shape

(66, 14)

5. Mostre o tipo de dado em cada coluna;

In [48]:
df.dtypes

Domain Code         object
Domain              object
Area Code            int64
Area                object
Element Code         int64
Element             object
Item Code            int64
Item                object
Year Code            int64
Year                 int64
Unit                object
Value                int64
Flag                object
Flag Description    object
dtype: object

6. Mostre informações do dataset;

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       66 non-null     object
 1   Domain            66 non-null     object
 2   Area Code         66 non-null     int64
 3   Area              66 non-null     object
 4   Element Code      66 non-null     int64
 5   Element           66 non-null     object
 6   Item Code         66 non-null     int64
 7   Item              66 non-null     object
 8   Year Code         66 non-null     int64
 9   Year              66 non-null     int64
 10  Unit              66 non-null     object
 11  Value             66 non-null     int64
 12  Flag              43 non-null     object
 13  Flag Description  66 non-null     object
dtypes: int64(6), object(8)
memory usage: 7.3+ KB

7. Mostre os valores únicos nas colunas Area, Element e Item;

In [50]:
df['Area'].unique()

array(['Argentina', 'Brazil', 'United States of America'], dtype=object)

In [51]:
df['Element'].unique()

array(['Yield', 'Production'], dtype=object)

In [52]:
df['Item'].unique()

array(['Apples', 'Bananas', 'Cherries', 'Tomatoes'], dtype=object)

8. Remova as colunas: 'Domain Code', 'Domain', 'Area Code', 'Element Code', 'Item Code', 'Year Code', 'Flag', 'Flag Description';

In [53]:
col = ['Domain Code', 'Domain', 'Area Code', 'Element Code', 'Item Code', 'Year Code', 'Flag', 'Flag Description']
df.drop(columns= col, axis = 1, inplace= True)

9. Crie e aplique uma função na coluna Area que converta o nome de cada país em suas respectivas siglas;

In [54]:
def sigla(pais):
    if pais == 'Argentina':
        return 'AR'
    elif pais == 'United States of America':
        return 'USA'
    else:
        return 'BR'

In [55]:
df['Area'] = df['Area'].apply(sigla)

10. Converta o dtype da coluna Value para float;

In [56]:
df['Value'] = df['Value'].astype(float)

11. Crie uma nova coluna denominada Country/Commodity, que corresponde a concatenação das colunas Area e Item;

In [57]:
df['Country//Commodity'] = df['Area'] + ' ' + df['Item']

12. Agrupe os dados em produção e produtividade (coluna Element) e armazene em variáveis distintas;

In [58]:
producao = df.groupby('Element').get_group('Production')
produtividade = df.groupby('Element').get_group('Yield')

13. Mude o shape dos dataframes criados no exercício anterior, com a função pivot, de modo que os novos objetos tenham índice  'Year', coluna 'Country/Commodity' e os valores correspondam a coluna 'Value';

In [59]:
producao = producao.pivot(index = 'Year', columns = 'Country/Commodity', values = 'Value')

KeyError: 'Country/Commodity'

In [ ]:
produtividade = produtividade.pivot(index = 'Year', columns = 'Country/Commodity', values = 'Value')

KeyError: 'Country/Commodity'

14. Concatene os objetos criados no exercício anterior, ao longo do eixo 0, com a função pd.concat(), passe como keys a lista ['Production', 'Yield'].

In [ ]:
df_mod = pd.concat([producao, produtividade], axis = 0, keys = ['Production', 'Yield'])

In [ ]:
df_mod

              Area     Element      Item  Year    Unit     Value  \
Production 3    AR  Production    Apples  2016  tonnes  458908.0
           4    AR  Production    Apples  2017  tonnes  458908.0
           5    AR  Production    Apples  2018  tonnes  510478.0
           9    AR  Production   Bananas  2016  tonnes  174644.0
           10   AR  Production   Bananas  2017  tonnes  174615.0
...            ...         ...       ...   ...     ...       ...
Yield      55  USA       Yield  Cherries  2017   hg/ha  108960.0
           56  USA       Yield  Cherries  2018   hg/ha   90828.0
           60  USA       Yield  Tomatoes  2016   hg/ha  911398.0
           61  USA       Yield  Tomatoes  2017   hg/ha  886625.0
           62  USA       Yield  Tomatoes  2018   hg/ha  968079.0

              Country//Commodity
Production 3           AR Apples
           4           AR Apples
           5           AR Apples
           9          AR Bananas
           10         AR Bananas
...                          ...
Yield      55       USA Cherries
           56       USA Cherries
           60       USA Tomatoes
           61       USA Tomatoes
           62       USA Tomatoes

[66 rows x 7 columns]