Gere um DataFrame com 7 colunas e 100 linhas, com as seguintes características:


a coluna 'A' segue uma distribuição normal padrão;


a coluna 'B' segue uma distribuição uniforme;


a coluna 'C' segue uma distribuição binomial, com 6 tentativas e probabilidade de sucesso 0.6;


a coluna 'D' segue uma distribuição exponencial padrão;


a coluna 'E' segue uma distribuição de Poisson com número conhecido de ocorrências igual a 10;


a coluna 'F' segue uma distribuição normal de média 100 e desvio padrão 15;


a coluna 'G' possui números aleatórios inteiros entre 50 e 3000.

In [11]:
import pandas as pd
from numpy import random

In [12]:
n = 100  #quantidade de observações
data = {
    'A': random.normal(size = n),
    'B': random.uniform(size = n),
    'C': random.binomial(n = 6, p = 0.6, size = n),
    'D': random.standard_exponential(size = n),
    'E': random.poisson(lam = 10, size = n),
    'F': random.normal(loc = 100, scale = 15, size = n),
    'G': random.randint(low = 50, high = 300, size = n)}

pd.DataFrame(data)

           A         B  C         D   E           F    G
0  -0.095560  0.962892  3  0.326927  13   96.156639  193
1  -0.427590  0.388247  4  0.026519  11  120.816427  187
2  -0.002094  0.162900  3  0.343248   8  106.724857  254
3  -0.772716  0.375221  2  0.013424   9   97.348558  119
4   0.787839  0.949266  3  0.524887   6   78.322022   87
..       ...       ... ..       ...  ..         ...  ...
95  1.469334  0.277117  5  2.132824   7  127.228130   84
96  1.448773  0.988939  4  0.232888  12  107.782829  124
97  0.652785  0.555376  5  0.047899  13  110.871743   88
98  0.100007  0.909731  4  0.494350   7  101.173459  103
99  0.189990  0.695085  4  3.084484  15  100.859799  196

[100 rows x 7 columns]