Uma Series (array unidimensional) da biblioteca Pandas pode ser criada utilizando-se o construtor:


pd.Series( data, index, dtype, copy )


Então, podemos criar objetos do tipo Series a partir de array, dicionários, escalares e iteráveis. Com base nessas informações responda as questões a seguir.




a) A partir da lista abaixo crie um objeto do tipo Series.




data = ['k','w','z','y']



Resultado esperado:




0    k

1    w

2    z

3    y

dtype: object



b) A partir do dicionário abaixo crie um objeto do tipo Series.




dic = {'a':10,'b':30,'c':15,'d':12}



Resultado esperado:




a    10

b    30

c    15

d    12

dtype: int64


c) Converta os objetos do tipo Series criados anteriormente para uma lista.


Dica: use o método do pandas to_list().




d) Converta os objetos do tipo Series criados nas letras a) e b) para DataFrame. Coloque um nome para as colunas. Use o construtor pd.DataFrame().




Resultados esperados:




	Letras

0	k

1	w

2	z

3	y



    Valores

a	10

b	30

c	15

d	12

In [15]:
import numpy as np
import pandas as pd

In [16]:
#A)
data = ['k','w','z','y']

serie1 = pd.Series(data)
serie1

0    k
1    w
2    z
3    y
dtype: object

In [17]:
#B)
dic = {'a':10,'b':30,'c':15,'d':12}

serie2 = pd.Series(dic)
serie2

a    10
b    30
c    15
d    12
dtype: int64

In [22]:
#C)
lista1 = serie1.to_list()
lista2 = serie2.to_list()
lista1, lista2

(['k', 'w', 'z', 'y'], [10, 30, 15, 12])

In [23]:
df1 = pd.DataFrame(serie1, columns = ['Letras'])
df2 = pd.DataFrame(serie2, columns = ['Valores'])
df1, df2

(  Letras
 0      k
 1      w
 2      z
 3      y,
    Valores
 a       10
 b       30
 c       15
 d       12)