Utilize a biblioteca NumPy para criar o objeto do tipo Series a seguir.




25     1.0

26     3.0

27     5.0

28     7.0

29     9.0

30    11.0

31    13.0

32    15.0

33    17.0

34    19.0

35    21.0

36    23.0

37    25.0

38    27.0

39    29.0

40    31.0

41    33.0

42    35.0

43    37.0

44    39.0

45    41.0

46    43.0

47    45.0

48    47.0

49    49.0

Name: Serie, dtype: float64

In [1]:
import numpy as np
import pandas as pd

In [4]:
data = np.arange(1,50,2)
pd.Series(data, index = range(25,50), name = "Série", dtype = "float")

25     1.0
26     3.0
27     5.0
28     7.0
29     9.0
30    11.0
31    13.0
32    15.0
33    17.0
34    19.0
35    21.0
36    23.0
37    25.0
38    27.0
39    29.0
40    31.0
41    33.0
42    35.0
43    37.0
44    39.0
45    41.0
46    43.0
47    45.0
48    47.0
49    49.0
Name: Série, dtype: float64