a) A partir do dicionário abaixo, crie um objeto do tipo Series e armazene em uma variável. Em seguida, converta o objeto criado para uma lista. Por fim, crie um DataFrame com os dados disponíveis.




dados={

    'ABEV3':12.85,

    'AZUL4':22.55,

    'BTOW3':115.08,

    'RENT3':49.03,

    'JBSS3':24.41,

    }



b) Acrescente os novos valores a Series criada:




RAIL3: 18.93

SUZB3: 48.19

MGLU3: 25.59

In [1]:
import numpy as np
import pandas as pd

In [2]:
dados={
    'ABEV3':12.85,
    'AZUL4':22.55,
    'BTOW3':115.08,
    'RENT3':49.03,
    'JBSS3':24.41,
    }

In [5]:
#A)
serie1 = pd.Series(dados)
serie1

ABEV3     12.85
AZUL4     22.55
BTOW3    115.08
RENT3     49.03
JBSS3     24.41
dtype: float64

In [7]:
serie1.to_list()

[12.85, 22.55, 115.08, 49.03, 24.41]

In [12]:
df = pd.DataFrame(serie1, columns = ['Preços'])
df

       Preços
ABEV3   12.85
AZUL4   22.55
BTOW3  115.08
RENT3   49.03
JBSS3   24.41

In [14]:
#B)
serie1['RAIL3'] = 18.93
serie1['SUZB3'] = 48.19
serie1['MGLU3'] = 25.59
serie1

ABEV3     12.85
AZUL4     22.55
BTOW3    115.08
RENT3     49.03
JBSS3     24.41
RAIL3     18.93
SUZB3     48.19
MGLU3     25.59
dtype: float64