Adicione os três novos valores a Series abaixo.





PETR4:22,97;

NTCO3:50,60;

TIMP3:14,82.

   

dados={

    'ABEV3':12.85,

    'AZUL4':22.55,

    'BTOW3':115.08,

    'RENT3':49.03,

    'JBSS3':24.41,

    }
 

serie = pd.Series(dados)

   

Resultado esperado:




ABEV3     12.85

AZUL4     22.55

BTOW3    115.08

RENT3     49.03

JBSS3     24.41

PETR4     22.97

NTCO3     50.60

TIMP3     14.82

dtype: float64

In [1]:
import numpy as np
import pandas as pd

In [6]:

   

dados={
    'ABEV3':12.85,
    'AZUL4':22.55,
    'BTOW3':115.08,
    'RENT3':49.03,
    'JBSS3':24.41,
    }
 
serie = pd.Series(dados, dtype = 'float')
serie

ABEV3     12.85
AZUL4     22.55
BTOW3    115.08
RENT3     49.03
JBSS3     24.41
dtype: float64

In [7]:
#solução 1
 
 
serie['PETR4'] = 22.97
serie['NTCO3'] = 50.6
serie['TIMP3'] = 14.82
 
#solução 2
 
#serie = serie.append(pd.Series({'PETR4':22.97,'NTCO3':50.6,'TIMP3':14.82}))

ABEV3     12.85
AZUL4     22.55
BTOW3    115.08
RENT3     49.03
JBSS3     24.41
PETR4     22.97
NTCO3     50.60
TIMP3     14.82
dtype: float64