Construa o DataFrame abaixo e armazene em uma vari√°vel.



	A
0	10

1	22

2	3

3	11

4	17

5	22

6	9

7	4

8	29

9	31

In [5]:

import pandas as pd

In [6]:

dados = [10, 22, 3, 11, 17, 22, 9, 4, 29, 31]

df = pd.DataFrame(data = dados, columns= ['A'])
df

    A
0  10
1  22
2   3
3  11
4  17
5  22
6   9
7   4
8  29
9  31