Construa um objeto do tipo DataFrame com a estrutura abaixo e armazene em uma variável. Coloque os dados em um dicionário Python.
https://prnt.sc/YKIzTdpa9afX

In [2]:
import pandas as pd
import numpy as np

In [5]:
dic = {'a' : [11, 33, 11, -1, 0],
'b' : [1, 2, 3, 4, 5],
'c' : [130, 144, 111, 104, 199]}

In [7]:
df = pd.DataFrame(data = dic )
df

    a  b    c
0  11  1  130
1  33  2  144
2  11  3  111
3  -1  4  104
4   0  5  199