Construa um objeto do tipo DataFrame com a estrutura abaixo e armazene em uma variável. Observe que a coluna A corresponde a todos os números pares entre [1,20] e a coluna B ao cubo de cada número ímpar neste mesmo intervalo.


Coloque os dados em um dicionário Python e use Compreensão em Listas para construir as colunas.

https://prnt.sc/D6ZBtjXQBxaJ

In [1]:
import pandas as pd
 
dados = {
    'A': [i for i in range(1,21) if i%2==0],
    'B': [i**3 for i in range(1,21) if i%2!=0]
        }
 
df = pd.DataFrame(dados, index = range(1, len(dados['A'])+1))
df

     A     B
1    2     1
2    4    27
3    6   125
4    8   343
5   10   729
6   12  1331
7   14  2197
8   16  3375
9   18  4913
10  20  6859