Construa um objeto do tipo DataFrame com a estrutura abaixo, que represente uma tabela de preço, quantidade e custo total para um conjunto de produtos.
https://prnt.sc/f-IhW3reCuIP

In [1]:
import pandas as pd

In [2]:
index = ['Produto '+str(i) for i in range(1,9)]
dados = {
    'Preço': [20.3, 31.2, 44.7, 30.5, 19.8, 11.2, 15.7, 17.3],
    'Quantidade': [10, 33, 45, 51, 11, 8, 91, 8],
    'Custo Total': [100, 568.7, 205.2, 507.1, 250.12, 55.3, 1579, 130]}

pd.DataFrame(dados, index )

           Preço  Quantidade  Custo Total
Produto 1   20.3          10       100.00
Produto 2   31.2          33       568.70
Produto 3   44.7          45       205.20
Produto 4   30.5          51       507.10
Produto 5   19.8          11       250.12
Produto 6   11.2           8        55.30
Produto 7   15.7          91      1579.00
Produto 8   17.3           8       130.00