Considerando o exercício anterior: (1) adicione uma nova coluna 'Receita Total' (RT) ao DataFrame, que corresponde ao produto entre o preço (p) e a quantidade (q), ou seja, RT = p x q; (2) adicione uma nova coluna 'Lucro Total' (LT), que corresponde a diferença entre a Receita Total e o Custo Total (CT), isto é, LT = RT - CT.


Resultado esperado:

https://prnt.sc/RB2vjvA_6YlO

In [1]:
import pandas as pd

In [4]:
index = ['Produto '+str(i) for i in range(1,9)]
dados = {
    'Preço': [20.3, 31.2, 44.7, 30.5, 19.8, 11.2, 15.7, 17.3],
    'Quantidade': [10, 33, 45, 51, 11, 8, 91, 8],
    'Custo Total': [100, 568.7, 205.2, 507.1, 250.12, 55.3, 1579, 130]}

df = pd.DataFrame(dados, index)
df['Receita Total'] = df['Preço']*df['Quantidade']
df['Lucro Total'] = df['Receita Total']-df['Custo Total']
df

           Preço  Quantidade  Custo Total  Receita Total  Lucro Total
Produto 1   20.3          10       100.00          203.0       103.00
Produto 2   31.2          33       568.70         1029.6       460.90
Produto 3   44.7          45       205.20         2011.5      1806.30
Produto 4   30.5          51       507.10         1555.5      1048.40
Produto 5   19.8          11       250.12          217.8       -32.32
Produto 6   11.2           8        55.30           89.6        34.30
Produto 7   15.7          91      1579.00         1428.7      -150.30
Produto 8   17.3           8       130.00          138.4         8.40