Construa um objeto do tipo DataFrame com a estrutura abaixo. Utilize np.random.random() para gerar números aleatórios.


Resultado esperado:

https://prnt.sc/Cya9GpxCfnOz

In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame(np.random.random(50).reshape((10,5)),
                index = range(1,11),
                columns = list('ABCDE'))
df

           A         B         C         D         E
1   0.088797  0.788483  0.205628  0.398146  0.231978
2   0.681315  0.876238  0.169039  0.503386  0.279080
3   0.837561  0.013165  0.397923  0.345834  0.029616
4   0.864415  0.760584  0.749093  0.290443  0.757005
5   0.826350  0.843558  0.645549  0.083495  0.371294
6   0.034108  0.833339  0.532741  0.326669  0.955525
7   0.846917  0.892345  0.842883  0.494394  0.343655
8   0.119113  0.540230  0.291652  0.887848  0.892378
9   0.831790  0.587461  0.371763  0.255455  0.448071
10  0.557958  0.179489  0.519208  0.332822  0.502165