Use uma estrutura de dados com nested dict (dicion√°rio aninhado) para criar o DataFrame a seguir.

https://prnt.sc/w_Hr9YyiM7hU

In [3]:
import pandas as pd

In [5]:
produtos = {
    'produto1': {2008:7, 2009:9, 2010: 10, 2011: 15, 2012: 50, 2013: 47}, 
    'produto2': {2008:14, 2009:13, 2010: 7, 2011: 13, 2012: 77, 2013: 94}, 
    'produto3': {2008:5, 2009:11, 2010: 3, 2011: 45, 2012: 21, 2013: 33},
    'produto4': {2008:4, 2009:2, 2010: 3, 2011: 45, 2012: 21, 2013: 33}}
df = pd.DataFrame(produtos)
df.columns.name='produtos'
df.index.name='Ano'
df

produtos  produto1  produto2  produto3  produto4
Ano
2008             7        14         5         4
2009             9        13        11         2
2010            10         7         3         3
2011            15        13        45        45
2012            50        77        21        21
2013            47        94        33        33