Construa o DataFrame abaixo. Use Compreensão em Listas para criar a coluna 'Resultado Final' (Dica: se Nota>=7 'Sim'). Utilize a função info() para mostrar informações do dataset.

https://prnt.sc/P5FmBwM0cY7v

In [1]:
import pandas as pd

In [10]:
nomes = ['Carlos', 'Rafael', 'Rogério', 'Ana', 'Beatriz', 'Jorge', 'Milena', 'Tales']
notas = [7, 8 , 4.7, 10, 9.5, 6, 5, 7.7]
aprovado = ['Sim' if nota>=7 else 'Não' for nota in notas]
dados = {'Nome': nomes,
         'Nota': notas,
         'Resultado final': aprovado}
df = pd.DataFrame(dados)
df

      Nome  Nota Resultado final
0   Carlos   7.0             Sim
1   Rafael   8.0             Sim
2  Rogério   4.7             Não
3      Ana  10.0             Sim
4  Beatriz   9.5             Sim
5    Jorge   6.0             Não
6   Milena   5.0             Não
7    Tales   7.7             Sim

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nome             8 non-null      object
 1   Nota             8 non-null      float64
 2   Resultado final  8 non-null      object
dtypes: float64(1), object(2)
memory usage: 320.0+ bytes
None