Com base no exercício anterior:


a) aplice o método describe() para obter estatísticas descritivas das colunas numéricas;


b) imprima o aluno que tirou nota máxima;


c) imprima o aluno que tirou nota mínima;


d) selecione apenas os alunos aprovados e armazene em uma variável.

In [1]:
import pandas as pd

In [2]:
nomes = ['Carlos', 'Rafael', 'Rogério', 'Ana', 'Beatriz', 'Jorge', 'Milena', 'Tales']
notas = [7, 8 , 4.7, 10, 9.5, 6, 5, 7.7]
aprovado = ['Sim' if nota>=7 else 'Não' for nota in notas]
dados = {'Nome': nomes,
         'Nota': notas,
         'Resultado final': aprovado}
df = pd.DataFrame(dados)

In [3]:
#A)

df.describe()

           Nota
count   8.00000
mean    7.23750
std     1.94858
min     4.70000
25%     5.75000
50%     7.35000
75%     8.37500
max    10.00000

In [6]:
#B)

df.max()

Nome               Tales
Nota                10.0
Resultado final      Sim
dtype: object

In [8]:
#C)

df.min()

Nome               Ana
Nota               4.7
Resultado final    Não
dtype: object

In [9]:
aprovados = df[df['Resultado final'] == 'Sim']
aprovados

      Nome  Nota Resultado final
0   Carlos   7.0             Sim
1   Rafael   8.0             Sim
3      Ana  10.0             Sim
4  Beatriz   9.5             Sim
7    Tales   7.7             Sim