Com base no DataFrame a seguir obtenha:


a) selecione a coluna 'Nome' e armazene em uma variável;


b) selecione a coluna 'Resultado Final' e armazene em uma variável;


c) selecione e imprima as coluna 'Nome' e 'Resultado Final';


d) selecione a linha 6 do DataFrame;


e) selecione as linhas 3 a 5 do DataFrame.


https://prnt.sc/KKkjT-9HpfJS

In [4]:
import pandas as pd

In [6]:
nome = ['Carlos', 'Rafael', 'Rogério', 'Ana','Beatriz', 'Jorge', 'Milena', 'Tales']
notas = [7, 8, 4.7, 10, 9.5, 6, 5, 7.7]
aprovado = ['Sim' if nota>=7 else 'Não' for nota in notas]

dic = {'Nome': nome, 
       'Nota': notas, 
       'Resultado Final': aprovado}

df = pd.DataFrame(dic)
df

      Nome  Nota Resultado Final
0   Carlos   7.0             Sim
1   Rafael   8.0             Sim
2  Rogério   4.7             Não
3      Ana  10.0             Sim
4  Beatriz   9.5             Sim
5    Jorge   6.0             Não
6   Milena   5.0             Não
7    Tales   7.7             Sim

In [8]:
#A) 
nomes = dic['Nome']
nomes

['Carlos', 'Rafael', 'Rogério', 'Ana', 'Beatriz', 'Jorge', 'Milena', 'Tales']

In [10]:
#B)
resultado = dic['Resultado Final']
resultado

['Sim', 'Sim', 'Não', 'Sim', 'Sim', 'Não', 'Não', 'Sim']

In [13]:
#C)

print(df[['Nome','Resultado Final']])  #c)

      Nome Resultado Final
0   Carlos             Sim
1   Rafael             Sim
2  Rogério             Não
3      Ana             Sim
4  Beatriz             Sim
5    Jorge             Não
6   Milena             Não
7    Tales             Sim

In [14]:
#D) 
df.iloc[6:7]

     Nome  Nota Resultado Final
6  Milena   5.0             Não

In [15]:
#E)

df.iloc[3:6]

      Nome  Nota Resultado Final
3      Ana  10.0             Sim
4  Beatriz   9.5             Sim
5    Jorge   6.0             Não