Ainda com base no DataFrame do exercício anterior:


a) selecione os nomes 'Rafael', 'Rogério' e 'Ana' e armazene em uma lista;


b) selecione os nomes 'Carlos', 'Rogério' e 'Tales' e armazene em uma lista;


c) selecione o nome 'Carlos';


d) selecione a nota 7.7.

In [1]:
import pandas as pd

In [2]:
nome = ['Carlos', 'Rafael', 'Rogério', 'Ana','Beatriz', 'Jorge', 'Milena', 'Tales']
notas = [7, 8, 4.7, 10, 9.5, 6, 5, 7.7]
aprovado = ['Sim' if nota>=7 else 'Não' for nota in notas]

dic = {'Nome': nome, 
       'Nota': notas, 
       'Resultado Final': aprovado}

df = pd.DataFrame(dic)
df

      Nome  Nota Resultado Final
0   Carlos   7.0             Sim
1   Rafael   8.0             Sim
2  Rogério   4.7             Não
3      Ana  10.0             Sim
4  Beatriz   9.5             Sim
5    Jorge   6.0             Não
6   Milena   5.0             Não
7    Tales   7.7             Sim

In [5]:
#A)
print(df.Nome[1:4].tolist())  
lista = df.Nome[1:4].tolist()
lista

['Rafael', 'Rogério', 'Ana']

['Rafael', 'Rogério', 'Ana']

In [9]:
#B)
print(df.Nome.loc[[0,2,7]].tolist())

['Carlos', 'Rogério', 'Tales']

In [16]:
#C)
print(df.Nome.loc[0])
print(df.Nome.iloc[0:1][0])

Carlos
Carlos

In [18]:
#D)
print(df.Nota.iloc[-1])

7.7