Delete as colunas 'B', 'Z' e 'W' do DataFrame abaixo.

https://prnt.sc/ml3fRBgv54CM

In [1]:
import pandas as pd

In [9]:
data = {
    'A': ['z', 'k' ,'m'],
    'B': ['j', 'n' , 'o'],
    'C': ['o', 'p', 'k'],
    'Z': ['i', 'j' ,'k'],
    'W': ['p', 'k', 'u']
}

df = pd.DataFrame(data, range(1,4))
df.drop(labels = ['B', 'Z', 'W'], axis = 1, inplace =  True )
df

   A  C
1  z  o
2  k  p
3  m  k