Com base no DataFrame do exercício 35, faça:

In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = {
    'Empresa A': {2018:90, 2019:76, 2020: 109},
    'Empresa B': {2018: 33, 2020: 13},
    'Empresa C': {2018:273, 2019: 33}}

df = pd.DataFrame(dados)
df.columns.name = 'Faturamento'
df.index.name = 'Ano'

a) substitua os dados ausentes pela média no caso da Empresa B;
b) substitua os dados ausentes pela mediana no caso da Empresa C;

In [4]:
df.fillna(
    {'Empresa B':df['Empresa B'].mean(), 'Empresa C': df['Empresa C'].median()}, 
    inplace = True)
df

Faturamento  Empresa A  Empresa B  Empresa C
Ano
2018                90       33.0      273.0
2019                76       23.0       33.0
2020               109       13.0      153.0

a) use idxmin()/idxmax() para filtrar os anos em que as respectivas empresas tiveram maior e menor lucro.

In [6]:
df.idxmax()

Faturamento
Empresa A    2020
Empresa B    2018
Empresa C    2018
dtype: int64

In [7]:
df.idxmin()

Faturamento
Empresa A    2019
Empresa B    2020
Empresa C    2019
dtype: int64