Com base no DataFrame abaixo, fa√ßa: a) delete as linha 'k' e 'j'; b) delete as colunas 'A' e 'D'.

https://prnt.sc/undhrR3ifFbJ

Para construir os dados use:


import numpy as np

np.random.seed(77)

data = np.random.randint(1,50,16).reshape((4,4))

In [1]:
import pandas as pd
import numpy as np

In [10]:
np.random.seed(77)
data = np.random.randint(1,50,16).reshape((4,4))
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'], index= ['i', 'j', 'k', 'w'])

df

    A   B   C   D
i  24  32  21  21
j  44  38  25  32
k  33  40  45  20
w  33  37  37  48

In [11]:
df.drop(index =['k', 'j'], inplace = True)
df

    A   B   C   D
i  24  32  21  21
w  33  37  37  48

In [12]:
df.drop(columns = ['A', 'D'], inplace = True)
df

    B   C
i  32  21
w  37  37