Ao iterar em objetos do tipo DataFrame obtemos os respectivos nomes de cada coluna. Mostre na tela o nome das colunas do DataFrame abaixo. Use:

https://prnt.sc/LkgWoeTMwkkr

In [2]:
import pandas as pd
import numpy as np

In [5]:
dados = {
    'W': np.random.randint(1,10,10),
    'Z': np.random.uniform(0,10,10),
    'K': np.linspace(1,50,10),
    'J': np.arange(10),
    'L': np.random.beta(1,10,10),
    'M': np.random.exponential(1,10),
    'Y': np.random.randint(-50,-1,10)
}
data = pd.date_range(start = '2020-12-1', end = '2020-12-10', freq= 'D')

df = pd.DataFrame(dados, data)
df

            W         Z          K  J         L         M   Y
2020-12-01  7  3.478898   1.000000  0  0.037891  1.761628  -4
2020-12-02  5  7.733430   6.444444  1  0.064358  0.207826  -4
2020-12-03  4  5.782097  11.888889  2  0.145491  0.530271 -11
2020-12-04  1  4.809295  17.333333  3  0.031298  0.338384 -23
2020-12-05  9  3.536118  22.777778  4  0.163407  0.280786 -40
2020-12-06  7  3.653553  28.222222  5  0.092568  0.883868 -42
2020-12-07  5  4.749742  33.666667  6  0.013302  0.946388 -30
2020-12-08  8  1.931890  39.111111  7  0.168639  0.860931 -25
2020-12-09  4  2.212310  44.555556  8  0.113314  0.078353 -38
2020-12-10  9  2.628532  50.000000  9  0.020749  0.800219 -21

In [7]:
for coluna in df:
    print(coluna)

W
Z
K
J
L
M
Y