Construa o DataFrame abaixo.


https://prnt.sc/-FpvvwDBbYKw

Posteriormente use iterrows() para obter a soma dos valores de cada linha:

https://prnt.sc/0-Khahq-Y9J7

In [1]:
import pandas as pd
import numpy as np

In [7]:
dias = pd.date_range(start = '2021-1-1', periods = 10)
df = pd.DataFrame(np.arange(1, 31).reshape(10, 3), 
                  columns = list('ABC'),
                  index = dias
                 )

df

             A   B   C
2021-01-01   1   2   3
2021-01-02   4   5   6
2021-01-03   7   8   9
2021-01-04  10  11  12
2021-01-05  13  14  15
2021-01-06  16  17  18
2021-01-07  19  20  21
2021-01-08  22  23  24
2021-01-09  25  26  27
2021-01-10  28  29  30

In [8]:
for linha_indice, linha in df.iterrows():
    print(linha_indice.strftime('%d/%m/%Y'))
    print('Soma: ' + str(linha.sum()))
    print()

01/01/2021
Soma: 6

02/01/2021
Soma: 15

03/01/2021
Soma: 24

04/01/2021
Soma: 33

05/01/2021
Soma: 42

06/01/2021
Soma: 51

07/01/2021
Soma: 60

08/01/2021
Soma: 69

09/01/2021
Soma: 78

10/01/2021
Soma: 87