Use os objetos do tipo DataFrame a seguir e use a função append() do pandas para concatenar os dados e obtenha:

import pandas as pd
index = [1, 2, 3]
df1 = pd.DataFrame({
    'A': ['A0','A1','A2',],
    'B': ['B0', 'B1', 'B2'],
    'C': ['C0', 'C1', 'C2'],
    }, index = index)
 
df2 = pd.DataFrame({
    'A':['A3', 'A4', 'A5'],
    'B':['B3', 'B4', 'B5'],
    'C':['C3', 'C4', 'C5'],
    }, index = index)
 
df3 = pd.DataFrame({
    'A': ['A6', 'A7', 'A8'],
    'B': ['B6', 'B7', 'B8'],
    'C': ['C6', 'C7', 'C8']
    }, index = index)

https://prnt.sc/N00EW8ZAsmsK

In [1]:
import pandas as pd

In [3]:
index = [1, 2, 3]
df1 = pd.DataFrame({
    'A': ['A0','A1','A2',],
    'B': ['B0', 'B1', 'B2'],
    'C': ['C0', 'C1', 'C2'],
    }, index = index)
 
df2 = pd.DataFrame({
    'A':['A3', 'A4', 'A5'],
    'B':['B3', 'B4', 'B5'],
    'C':['C3', 'C4', 'C5'],
    }, index = index)
 
df3 = pd.DataFrame({
    'A': ['A6', 'A7', 'A8'],
    'B': ['B6', 'B7', 'B8'],
    'C': ['C6', 'C7', 'C8']
    }, index = index)

In [6]:
df4 =df1.append(df2, ignore_index= True)
df4

C:\Users\natha\AppData\Local\Temp\ipykernel_3944\3085162614.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df4 =df1.append(df2, ignore_index= True)

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
4  A4  B4  C4
5  A5  B5  C5

In [8]:
df5 = df1.append([df2,df3])
df5

C:\Users\natha\AppData\Local\Temp\ipykernel_3944\261528048.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df5 = df1.append([df2,df3])

    A   B   C
1  A0  B0  C0
2  A1  B1  C1
3  A2  B2  C2
1  A3  B3  C3
2  A4  B4  C4
3  A5  B5  C5
1  A6  B6  C6
2  A7  B7  C7
3  A8  B8  C8