Com o dataset do exerc√≠cio 61 substitua todos os NaN pelo valor 0.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'A': [10, np.nan, 35, 47, 17, 13],
    'B': ['A', np.nan, 'B', 'A', 'A', np.nan],
    'C': [139, np.nan, np.nan, 199, 111, 140]}

index = pd.date_range(start = '2020-1-1', end = '2020-01-06')
df = pd.DataFrame(data, index)
df

               A    B      C
2020-01-01  10.0    A  139.0
2020-01-02   NaN  NaN    NaN
2020-01-03  35.0    B    NaN
2020-01-04  47.0    A  199.0
2020-01-05  17.0    A  111.0
2020-01-06  13.0  NaN  140.0

In [4]:
df.fillna(value = 0, inplace = True)
df

               A  B      C
2020-01-01  10.0  A  139.0
2020-01-02   0.0  0    0.0
2020-01-03  35.0  B    0.0
2020-01-04  47.0  A  199.0
2020-01-05  17.0  A  111.0
2020-01-06  13.0  0  140.0