O banco de dados possui informações sobre a distribuição de respiradores para tratamento da Covid-19 no Brasil. Com base neste dataset, faça:

Leia o dataset com a função pd.read_csv() e armazene em uma variável df;

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('distribuicao_respiradores_BR.csv', sep = ';')
df

,DATA,FORNECEDOR,DESTINO,ESTADO/MUNICIPIO,TIPO,QUANTIDADE,VALOR,DESTINATARIO,UF
0,19/04/2020,VYAIRE,RIO DE JANEIRO,ESTADO,UTI,40,2400000,ALMOXARIFADO ESTADUAL DE MEDICAMENTOS - RIO DE...,RJ
1,22/04/2020,VYAIRE,RIO DE JANEIRO,ESTADO,UTI,20,1200000,LABORATÓRIO QUÍMICO FARMACÊUTICO DE AERONÁUTICA,RJ
2,08/05/2020,MAGNAMED,RIO DE JANEIRO,ESTADO,UTI,25,1500000,ALMOXARIFADO ESTADUAL DE MEDICAMENTOS - RIO DE...,RJ
3,08/05/2020,KTK,RIO DE JANEIRO,ESTADO,UTI,15,900000,ALMOXARIFADO ESTADUAL DE MEDICAMENTOS - RIO DE...,RJ
4,09/05/2020,LEISTUNG,RIO DE JANEIRO,ESTADO,UTI,6,360000,ALMOXARIFADO ESTADUAL DE MEDICAMENTOS - RIO DE...,RJ
...,...,...,...,...,...,...,...,...,...
1600,21/09/2020,LEISTUNG,PARANA,MUNICIPIO,UTI,5,300000,SMS de RIO NEGRO,PR
1601,21/09/2020,LEISTUNG,PARANA,MUNICIPIO,UTI,1,60000,SMS de IBIPORA,PR
1602,24/09/2020,KTK,PARANA,MUNICIPIO,UTI,2,120000,SMS de GUAIRA,PR
1603,24/09/2020,VYAIRE LTV 2200 USA,PARANA,MUNICIPIO,TRANSPORTE USA,1,63125,SMS de GUAIRA,PR
1604,07/08/2020,MAGNAMED,LIBANO,-,TRANSPORTE,300,14487000,MISSÃO FAB (Doação Destino ao Libano).,-

Imprima as 10 primeiras linhas;

In [22]:
df.head(10)

,DATA,FORNECEDOR,DESTINO,ESTADO/MUNICIPIO,TIPO,QUANTIDADE,VALOR,DESTINATARIO,UF
0,19/04/2020,VYAIRE,RIO DE JANEIRO,ESTADO,UTI,40,2400000,ALMOXARIFADO ESTADUAL DE MEDICAMENTOS - RIO DE...,RJ
1,22/04/2020,VYAIRE,RIO DE JANEIRO,ESTADO,UTI,20,1200000,LABORATÓRIO QUÍMICO FARMACÊUTICO DE AERONÁUTICA,RJ
2,08/05/2020,MAGNAMED,RIO DE JANEIRO,ESTADO,UTI,25,1500000,ALMOXARIFADO ESTADUAL DE MEDICAMENTOS - RIO DE...,RJ
3,08/05/2020,KTK,RIO DE JANEIRO,ESTADO,UTI,15,900000,ALMOXARIFADO ESTADUAL DE MEDICAMENTOS - RIO DE...,RJ
4,09/05/2020,LEISTUNG,RIO DE JANEIRO,ESTADO,UTI,6,360000,ALMOXARIFADO ESTADUAL DE MEDICAMENTOS - RIO DE...,RJ
5,09/05/2020,VYAIRE,RIO DE JANEIRO,ESTADO,UTI,1,60000,ALMOXARIFADO ESTADUAL DE MEDICAMENTOS - RIO DE...,RJ
6,09/05/2020,VYAIRE,RIO DE JANEIRO,ESTADO,UTI,30,1800000,ALMOXARIFADO ESTADUAL DE MEDICAMENTOS - RIO DE...,RJ
7,09/05/2020,MAGNAMED,RIO DE JANEIRO,ESTADO,UTI,8,480000,ALMOXARIFADO ESTADUAL DE MEDICAMENTOS - RIO DE...,RJ
8,09/05/2020,MAGNAMED,RIO DE JANEIRO,ESTADO,TRANSPORTE,4,193160,ALMOXARIFADO ESTADUAL DE MEDICAMENTOS - RIO DE...,RJ
9,09/05/2020,MAGNAMED,RIO DE JANEIRO,ESTADO,UTI,1,60000,ALMOXARIFADO ESTADUAL DE MEDICAMENTOS - RIO DE...,RJ

Imprima as 3 últimas linhas;

In [23]:
df.tail(3)

,DATA,FORNECEDOR,DESTINO,ESTADO/MUNICIPIO,TIPO,QUANTIDADE,VALOR,DESTINATARIO,UF
1602,24/09/2020,KTK,PARANA,MUNICIPIO,UTI,2,120000,SMS de GUAIRA,PR
1603,24/09/2020,VYAIRE LTV 2200 USA,PARANA,MUNICIPIO,TRANSPORTE USA,1,63125,SMS de GUAIRA,PR
1604,07/08/2020,MAGNAMED,LIBANO,-,TRANSPORTE,300,14487000,MISSÃO FAB (Doação Destino ao Libano).,-

Imprima as colunas do dataset;

In [24]:
df.columns

Index(['DATA', 'FORNECEDOR', 'DESTINO', 'ESTADO/MUNICIPIO', 'TIPO',
       'QUANTIDADE', 'VALOR', 'DESTINATARIO', 'UF'],
      dtype='object')

Mostre informações sobre o objeto df;

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1605 entries, 0 to 1604
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DATA              1605 non-null   object
 1   FORNECEDOR        1605 non-null   object
 2   DESTINO           1605 non-null   object
 3   ESTADO/MUNICIPIO  1605 non-null   object
 4   TIPO              1605 non-null   object
 5   QUANTIDADE        1605 non-null   int64
 6   VALOR             1605 non-null   int64
 7   DESTINATARIO      1605 non-null   object
 8   UF                1605 non-null   object
dtypes: int64(2), object(7)
memory usage: 113.0+ KB

Mostre o tipo de dado de cada coluna;

In [26]:
df.dtypes

DATA                object
FORNECEDOR          object
DESTINO             object
ESTADO/MUNICIPIO    object
TIPO                object
QUANTIDADE           int64
VALOR                int64
DESTINATARIO        object
UF                  object
dtype: object

Mostre o número de linhas do objeto df;

In [27]:
df.shape

(1605, 9)

Mostre a quantidade de missing em cada coluna do DataFrame.

In [28]:
df.isna().sum()

DATA                0
FORNECEDOR          0
DESTINO             0
ESTADO/MUNICIPIO    0
TIPO                0
QUANTIDADE          0
VALOR               0
DESTINATARIO        0
UF                  0
dtype: int64

Ainda com o dataset anterior siga os passos abaixo:
Converta a coluna DATA para datetime;

In [29]:
df['DATA'] = pd.to_datetime(df['DATA'])

C:\Users\natha\AppData\Local\Temp\ipykernel_9856\4260120593.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['DATA'] = pd.to_datetime(df['DATA'])

Converta a coluna VALOR para float;

In [30]:
df['VALOR'] = df['VALOR'].astype(float)

Mostre os valores únicos da coluna FORNECEDOR;

In [31]:
df['FORNECEDOR'].unique()

array(['VYAIRE', 'MAGNAMED', 'KTK', 'LEISTUNG', 'LEISTUNG/VYAIRE',
       'KTK/VAYIRE', 'WEG', 'VYAIRE LTV 2200 USA', 'UTI',
       'VYAIRE LTV 1200 USA', 'MAGNAMED-REQUISIÇÃO',
       'SUZANO/Zhongxun Medical', 'SUZANO/Resmed',
       'L C DADDE COM AT INST MAT MEDICO EPP', 'MAGNAMED/REQUISIÇÃO',
       'Leistung'], dtype=object)

Mostre os valores únicos da coluna TIPO;

In [32]:
df['TIPO'].unique()

array(['UTI', 'TRANSPORTE', 'TRANSPORTE USA', 'Transporte'], dtype=object)

Mostre a quantidade de destinatários únicos.

In [33]:
df['DESTINATARIO'].unique().size

944

In [34]:
df.dtypes

DATA                datetime64[ns]
FORNECEDOR                  object
DESTINO                     object
ESTADO/MUNICIPIO            object
TIPO                        object
QUANTIDADE                   int64
VALOR                      float64
DESTINATARIO                object
UF                          object
dtype: object

Após as operações efetuadas nos exercícios 1 e 2, salve o banco de dados no formato CSV com o nome 'distribuicao_respiradores-modificado.csv'. Use ';' como separador.

In [35]:
df.to_csv('distribuicao_respiradores-modificado.csv', index = False, sep = ';')

Após as operações efetuadas nos exercícios 1 e 2, converta o banco de dados para o formato Excel.

In [36]:
df.to_excel('distribuicao_respiradores-modificado.xlsx')

ModuleNotFoundError: No module named 'openpyxl'